.param {
  border: 3px solid #212121;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #212121;
  padding: 9px 11.5px;
  margin-bottom: 6px;
}