.genderContainer{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #212121;
  border-radius: 11px;
  overflow: hidden;
  div{
    padding: 3px 15px;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
  }
}

.male{
  background: #73D677;
}
.female{
  background: #C956FF;

}
.hermaphrodite{
  background: #F5DB13;
}
.birthYear{
  background: #07D6F2;
}