.react-select {

  &__control {
    width: 135px !important;
    min-height: 24px !important;
    border: 0.5px solid #D1D1D1 !important;
    cursor: pointer !important;
    background: #F2F2F2 !important;
    box-shadow: 2px 2px 2px rgba(33, 33, 33, 0.1) !important;
    border-radius: 4px;


    &--is-focused {
      box-shadow: none !important;
    }
  }

  &__menu{
    box-shadow: 4px 4px 8px rgba(1, 28, 64, 0.2) !important;
    background: #F2F2F2 !important;

  }

  &__option {
    cursor: pointer !important;
    width: 135px !important;
    border-radius: 8px !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    &--is-focused {
      background: none !important;
      color: #000000;
    }
    &:hover {
      box-shadow: none !important;
      background: none !important;
    }
    &:active {
      background: none !important;
    }
  }

  &__value-container {
    align-content: center;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  &__indicators {
    display: block !important;
    svg{
      fill:#000000;
    }
  }

  &__input-container {
    margin: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    caret-color: transparent;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 20px !important;
    text-align: center !important;
    color: #000000 !important;

  }

  &__placeholder {
    margin: 0 !important;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 20px !important;
    text-align: center !important;
    color: #000000 !important;
  }
}


.label {
  color: #000000;
}

